version: '2'
services:
  db:
    restart: always
    image: postgres:9.6-alpine
    container_name: mastodon-db

  redis:
    restart: always
    image: redis
    container_name: mastodon-redis
    command: redis-server --appendonly yes

  web:
    restart: always
    build: .
    image: gilir/rpi-mastodon
    container_name: mastodon-web
    env_file: .env.production
    ports:
      - "3000:3000"
      - "4000:4000"
    depends_on:
      - db
      - redis
    environment:
      - WEB_CONCURRENCY=1
      - MAX_THREADS=5
      - SIDEKIQ_WORKERS=5
      - RUN_DB_MIGRATIONS=true
