version: '3'
services:
  db:
    image: armhf/postgres:9.6-alpine
    deploy:
      replicas: 1
      update_config:
        parallelism: 1
        delay: 10s
      restart_policy:
        condition: on-failure
        delay: 5s
        max_attempts: 3
        window: 120s
    networks:
      - proxy-network
    volumes:
      - mastodon_postgres:/var/lib/postgresql/data
    labels:
      - "traefik.enable=false"
  redis:
    image: armhf/redis
    deploy:
      replicas: 1
      update_config:
        parallelism: 1
        delay: 10s
      restart_policy:
        condition: on-failure
        delay: 5s
        max_attempts: 3
        window: 120s
    command: redis-server --appendonly yes
    networks:
      - proxy-network
    volumes:
      - mastodon_redis:/data
    labels:
      - "traefik.enable=false"

  web:
    image: gilir/rpi-mastodon
    env_file: .env.production
    ports:
      - "3000:3000"
      - "4000:4000"
    depends_on:
      - db
      - redis
    networks:
      - proxy-network
    volumes:
      - mastodon_public_assets:/mastodon/public/assets
      - mastodon_public_packs:/mastodon/public/packs
      - mastodon_public_system:/mastodon/public/system
      - mastodon_log:/mastodon/log
    deploy:
      replicas: 1
      update_config:
        parallelism: 1
        delay: 10s
      restart_policy:
        condition: on-failure
        delay: 5s
        max_attempts: 3
        window: 120s
      labels:
        - traefik.frontend.rule=Host:mastodon.lavergne.online
        - traefik.docker.network=proxy-network
        - traefik.port=3000
        - traefik.backend=mastodon-web
        - traefik.frontend.entryPoints=https,http
    environment:
      - WEB_CONCURRENCY=1
      - MAX_THREADS=5
      - SIDEKIQ_WORKERS=5
      - RUN_DB_MIGRATIONS=true

networks:
  proxy-network:
    external:
      name: proxy-network

volumes:
  mastodon_postgres:
    external: true
  mastodon_redis:
    external: true
  mastodon_public_assets:
    external: true
  mastodon_public_system:
    external: true
  mastodon_public_packs:
    external: true
  mastodon_log:
    external: true
